//- base page layout

doctype html
html(lang="en")

    head 
        meta(charset="utf8")
        meta(name="viewport" content="=device-width, initial-scale=1.0")
        meta(name="developer" content="AnimaxNeil")
        link(rel="stylesheet" href=base_url+"static/style.css")
        link(rel="icon" type="image/png" href=base_url+"static/favicon.png")
        block page-head

    body
        //- body functions
        - const get_valid_userid = (userid) => { return "II" + (userid + 10000000); }

        if responseMsg 
            div#response-alert(class="alert-"+responseMsg.type)
                span #{responseMsg.text}
                img(src=base_url+"static/small-cross.png" alt="close message" width="20")

        div#page-area
            header 
                div#site-name: span Institute of Institution
                div#site-options
                    block page-header 

            main
                block page-main 

        div#copyright &#169; AnimaxNeil
        
        - const responseMsgRecieved=responseMsg?true:false;
        script(type="text/javascript").
            window.responseMsgRecieved=#{responseMsgRecieved};
        script(src=base_url+"static/response-msg.js")

        block page-end


