//- base page layout

//- env variables [top one for local, bottom one for hosted]
- const domain_url =""; const base_url = "";
//- - const domain_url = "https://www.animaxneil.com"
//- - const base_url = "/hosted-projects/examination-result-management-system";

doctype html
html(lang="en")

    head 
        meta(charset="utf8")
        meta(name="viewport" content="=device-width, initial-scale=1.0")
        meta(name="developer" content="AnimaxNeil")
        link(rel="stylesheet" href=base_url+"/static/style.css")
        link(rel="icon" type="image/png" href=base_url+"/static/favicon.png")
        block page-head

    body
        //- body functions
        - const get_valid_userid = (userid) => { return "II" + (userid + 10000000); }

        if errorMsg 
            div#errorMsg
                span #{errorMsg}
                img(src=base_url+"/static/small-cross.png" alt="close message" width="20")
        if successMsg 
            div#successMsg
                span #{successMsg}
                img(src=base_url+"/static/small-cross.png" alt="close message" width="20")

        div#page-area
            header 
                div#site-name: span Institute of Institution
                div#site-options
                    block page-header 

            main
                block page-main 

        if errorMsg || successMsg 
            - const errorMsgRecieved=errorMsg?true:false;
            - const successMsgRecieved=successMsg?true:false;
            script(type="text/javascript").
                window.errorMsgRecieved=#{errorMsgRecieved};
                window.successMsgRecieved=#{successMsgRecieved};
            script(src=base_url+"/static/response-msg.js")

        block page-end


