//- list answer paper marks as results

extends base.pug

block page-head 
    title Results 

block page-header 
    a#home(href=base_url+"/") Home
    a#logout(href=base_url+"/logout") Log Out

block page-main 
    section#list-results
        h1 Results
        if results 
            div#table-area: table 
                tr 
                    th N
                    th Paper
                    th Course
                    th Submition date
                    th Marks
                - let slno=0
                each result in results 
                    -slno++
                    tr
                        td #{slno}
                        td #{result.question_filename} 
                        td #{result.course}
                        td #{result.submit_date} 
                        td #{result.marks_obtained} / #{result.full_marks}
        else 
            span No results found 
            

